//<VARIABLES>===================================================================================
$fontfamily: 'Manrope';
//=====================
$pageWidth: 1440;
$contWidth: 1350;
//=====================
$md1: $contWidth+12;
$md2: 992;
$md3: 768;
$md4: 480;
//=====================
$play: 'Playfair Display', serif;
//</VARIABLES>==================================================================================

//<CONNECTING THE REQUIRED STYLES>==============================================================
@import "mixins.scss";
//=====================
@import "fonts.scss";
//=====================
@import "null.scss";
//=====================
@import "../../node_modules/slick-carousel/slick/slick.scss";
//=====================
@import "same.scss";
//=====================
@import "header.scss";
//=====================
@import "main.scss";
//=====================
@import "footer.scss";
//=====================
@import "media.scss";
//=====================
//</CONNECTING THE REQUIRED STYLES>=============================================================